<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscar Montes - Curriculum </title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<style>
    #body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #f6ebdb;
        justify-content: center;
    }
</style>

<body id="body">
    <header>
        <h1>Oscar Uriel Montes Patiño</h1>
        <p>Software and Web Developer</p>
    </header>

    <section id="contact-info">
        <img src="https://www.shutterstock.com/image-photo/snoopy-260nw-2709284725.jpg" alt="Oscar Montes" width="200" height="200">
        <h2>Contact Information</h2>
        <ul>
            <li>GitHub:
                <a href="https://github.com/MontesOscar" target="_blank">
                    github.com/MontesOscar
                </a>
            </li>
        </ul>
    </section>
    <section id="professional-summary">
        <h2>Resumen</h2>
        <p>
            Estudiante de Ingenieria en Desarrollo y Gestión de Software en la Universidad Tecnologica de Emiliano
            Zapata (UTEZ)</li>
        </p>

    </section>
    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages:JavaScript, Java</li>
            <li>Web Technologies: HTML5, React, Angular/li>
            <li>Databases: MySQL, MongoDB</li>
            <li>Tools: Git, AWS</li>
        </ul>
    </section>
    <section id="about-me">


        <h3>Sobre mi</h3>
        <ul>
            <li>Nombre: Oscar Uriel Montes</li>
            <li>Edad: 20 años</li>
            <li>Sexo: Masculino</li>
            <li>Nacionalidad: Mexicano</li>
        </ul>

        <h2>Professional Experience</h2>
        <h3>Consultoria JAS</h3>
        <p><em>2025</em></p>
        <ul>
            <li>Desarrollo de pagina y aplicación web usando React and Spring Boot en la parte de frontend y backend
                respactivamente</li>
            <li>Colaboración en las areas de backend, frontend y seguridad</li>
            <li>Implementando encriptación de contraseñas, APIs y funcionalidades esenciales para el proyecto</li>
            <li><a href="https://www.consultoriajas.com" target="_blank">
                    Consultoria JAS
                </a></li>
        </ul>

    </section>

    <footer>
        <p>&copy; 2026 Oscar Montes. All rights reserved.</p>
    </footer>
</body>

</html>